{% extends 'base.html' %}
{% block content %}

    <h2>{{ parameter_dictionary.movie.title }}</h2>
    
    <p>Release date: {{ parameter_dictionary.movie.released_at }}</p>
    <p>IMDB URL: {{ parameter_dictionary.movie.imdb_url }}</p>
    <form action="/movies/{{ parameter_dictionary.movie.movie_id }}" method="POST" id="rating-form">
      Rate this movie: <br>
      <select name="rating">
        <option value=""></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <input type="submit"></input>
     </form>


    <p>Average rating: {{ parameter_dictionary.average }}</p>
    {% if parameter_dictionary.get('prediction') %}
    <p>We predict you will rate this movie {{ parameter_dictionary.prediction }}.</p>
    {% endif %}
     
    <p>Ratings: 
      <ul>
        {% for rating in parameter_dictionary.movie.ratings %}
          <li>{{ rating.user.user_id }}: {{ rating.score }}</li>
        {% endfor %}
      </ul> 
    </p>

{% endblock %}